body {
  background-color: whitesmoke;
}
h1 {
  color: white;
}
header {
  align-items: center;
  display: flex;
  background-color: lightslategray;
}
nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-size: 20px;
}

nav {
  float: right;
}
nav a {
  color: white;
  background-color: rgb(102, 247, 225);
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: black;
}
