
h1 {
  color: rgb(235, 233, 233);
  bottom: 20px;
  left: 10px;
  background-color: black;
}

h2 {
  color: black;
}


body {
  background-color: whitesmoke;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}
.topnav h1 {
    float: left;
    font-size: 40px;
    color: white;
    padding: 1px 5%;
  }

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  text-decoration: underline;
  margin: 3%;
  padding:10px 10px;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.container {
  position: relative;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: rgb(235, 233, 233);
  padding-left: 20px;
  padding-right: 20px;
}

.line-patterns {
  object-fit: cover;
}

#about-me {
  color: white;
  background-color: rgb(64, 64, 64);
  font-family: Arial, Helvetica, sans-serif;
  padding: 2%;
  margin-top: 3%;
  margin-bottom: 3%;
  flex: 2;
  display: flex;
  justify-content: space-evenly;
}

#work {
  background-color: rgb(64, 64, 64);
  padding-right: 20%; 
}

#contact-me {
  background-color: rgb(64, 64, 64);
  padding-right: 20%;
}

/* This contains the vertical lines */
.vl {
  border-left: 6px solid black;
  height: 100px;
  margin-right: 10%;
  padding-left: 10%;
}

.vl2 {
  border-left: 6px solid black;
  height: 700px;
  margin-left: 15%;
}

.vl3 {
  border-left: 6px solid black;
  height: 200px;
  margin-left: 15%;
}
/* This containts the h1 headings */
.tag1 {
  color: rgb(235, 233, 233);
  background-color: black;
  font-size: 28px;
  float: left;
  margin-right: 20px;
}

.tag2 {
  color: rgb(235, 233, 233);
  background-color: black;
  font-size: 34px;
  float: left;
  margin-top:100px;
  margin-left: 30px;
}
/* This contains the format for the images on section 2 */

.column {
  float: left;
  width: 25%;
  margin-top: 1%;
  padding: 8px;
}

.column2 {
  float: right;
  justify-content: space-evenly;
  max-width: 25%;
  padding: 10px 50px 20px;
}

.column3 {
  float:inherit;
  max-width: 20%;
  padding-bottom: 10%;
  padding-right: 10%;
  padding: 10px 10px;
}

/* This containts the h1 headings */

.tag3 {
  color: rgb(235, 233, 233);
  background-color: black;
  font-size: 24px;
  float: left;
  margin-top: 70px;
  margin-left: 10px;
}

div ul {
  font-size: larger;
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 7%;
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }